<div th:fragment="html" xmlns:th="http://www.w3.org/1999/xhtml">
    <div id="footer"  class="footer" style="display: block;">
        <div id="footer_ensure" class="footer_ensure">
            <a href="#nowhere">
                <img src="img/site/ensure.png">
            </a>
        </div>

        <div class="horizontal_line">
        </div>

        <div id="footer_desc" class="footer_desc">
            <div class="descColumn">
                <span class="descColumnTitle">Configure</span>
                <a href="#nowhere" >Configure</a>
            </div>
            <div class="descColumn">
                <span class="descColumnTitle">Configure</span>
                <a href="#nowhere" >Configure</a>
            </div>
            <div class="descColumn">
                <span class="descColumnTitle">Configure</span>
                <a href="#nowhere" >Configure</a>
            </div>
            <div class="descColumn">
                <span class="descColumnTitle">Configure</span>
                <a href="#nowhere" >Configure</a>

            </div>
            <div class="descColumn">
                <span class="descColumnTitle">Configure</span>
                <a href="#nowhere" ><img src="img/site/ma.png"></a>
            </div>

        </div>

        <div style="clear:both">

        </div>




        <div id="copyright" class="copyright">
            <div class="coptyrightMiddle">
                <img id="cateye" class="cateye" src="img/site/cateye.png">


                <div class="license">

                    <div class="copyRightYear">&copy; 2019-2019 xxx.COM</div>
                    <div>
                        <img src="img/site/copyRight1.jpg">
                        <img src="img/site/copyRight2.jpg">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div th:fragment="html">
